<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All photos
    </h1>

    <a href="/photos/new" class="btn btn-block btn-outline-secondary">
      Add a new photo
    </a>
  </div>
</div>

<hr>

<% @photos.each do |photo| %>
<div class="card col-md-8 offset-md-2 mb-4">
    <div class="card-header">
        <a href="/users/<%=Photo.find(photo.user_id)%>"><%=User.find(Photo.find(photo.user_id)).username%></a> <%=time_ago_in_words(photo.created_at)%>
    </div>
    <div class="card-body"></div>
    <a href="/photos/<%=photo.id%>"><img src="<%=photo.image%>" class="img-fluid"></a> 
    <%if photo.user_id==current_user.id%>
      <a href="/photos/<%=photo.id%>/edit" class="btn btn-warning w-100">Edit</a>
      <a href="delete_photo/<%=photo.id%>" class="btn btn-danger w-100">Delete</a>
    <%end%>  
  </div>
</div>
<%end%>